# Cythonized files
# /image/bilinear.c

# do not exclude .gitgnore and .github
!.gitignore
!.github/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# coverage report
*.cov*

# doit automation tool
*.doit*

# tests trial
**/_trial_temp

# tests output
test_output
tests/test_output

# Virtual environments
venv*/
.venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
doc/_build
doc/_static
doc/_templates
doc/doc_html

# PyCharm
.idea/

#Notebook checkpoints
.ipynb_checkpoints

#data
bcdi/data/
