include *.gitignore
include *.ini
include *.md
recursive-include .github *.md
include *.cff
include *.rst
include *.txt
recursive-include doc *.rst
include doc/conf.py
include doc/make.bat
include doc/Makefile
include bcdi/examples/S11_modes_252_420_392_prebinning_1_1_1.h5
include bcdi/examples/S11_modes_252_210_200_prebinning_1_2_2.h5
include bcdi/examples/S11_config_preprocessing.yml
include bcdi/examples/S11_config_postprocessing.yml
include bcdi/preprocessing/alias_dict_2018.txt
include bcdi/preprocessing/alias_dict_2019.txt
include bcdi/preprocessing/alias_dict_2020.txt
include bcdi/preprocessing/alias_dict_2021.txt
include tests/postprocessing/3572_fa.vtk
include doc/example/alien_removal.PNG
include doc/example/hotpixel_removal.PNG
include doc/example/files_preprocessing.PNG