numpy
scipy
scikit-image
matplotlib
hdf5plugin
h5py
traits
importlib_resources
xrayutilities
pyqt5
pyqtgraph
vtk
fabio
silx
tables
lmfit
moviepy
pillow
black
coverage
doit
pycodestyle
pydocstyle
sphinx
twine
wheel