black==22.2.0
coverage==6.3.2
doit==0.34.2
fabio==0.13.0
h5py==3.6.0
hdf5plugin==3.2.0
importlib-resources==5.4.0
ipywidgets==7.7.0
lmfit==1.0.3
matplotlib==3.5.1
moviepy==1.0.3
mypy==0.941
numpy==1.22.3
pandas==1.4.1
Pillow==9.0.1
pycodestyle==2.8.0
pydocstyle==6.1.1
pyfakefs==4.5.6
PyQt5==5.15.6
PyYAML==6.0
scikit-image==0.19.2
scipy==1.8.0
silx==1.0.0
Sphinx==4.4.0
sphinxcontrib-mermaid==0.7.1
tables==3.7.0
traits==6.3.2
twine==3.8.0
vtk==9.1.0
wheel==0.37.1
xrayutilities==1.7.3