numpy
scipy
scikit-image
matplotlib
hdf5plugin
h5py
traits
importlib_resources
xrayutilities
vtk
fabio
silx
lmfit
moviepy
pillow
tables
pandas
pyqt5
ipywidgets
pyyaml
black
coverage
doit
mypy
pycodestyle
pydocstyle
pyfakefs
sphinx
sphinxcontrib-mermaid
twine
wheel